/* Загальні стилі */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%; /* Встановлюємо висоту на 100% */
    margin: 0;
}

body {
    display: flex;
    flex-direction: column; /* Вертикальний потік елементів */
    min-height: 100vh; /* Мінімальна висота на всю висоту екрану */
    background-color: #121212; /* Темний фон */
    color: #e4e4e4; /* Світлий текст */
    line-height: 1.6;
    padding: 0 20px; /* Відступи зліва та справа */
}

/* Заголовки */
h1, h2, h3 {
    color: #34b23b; /* Зелений колір */
}

/* Посилання */
a {
    color: #34b23b; /* Зелені посилання */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Хедер */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    width: 100%; /* Хедер займає всю ширину */
}

header a {
    color: #fff;
    margin-right: 20px;
}

header a:hover {
    color: #34b23b;
}

/* Стилі для іконок */
.icon-link {
    font-size: 24px;
    color: #fff;
    margin-right: 15px;
    display: inline-block; /* Забезпечує відображення в один рядок */
}

.icon-link:hover {
    color: #34b23b;
}

/* Кнопка для переходу */
button {
    background-color: #34b23b; /* Зелений фон */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #28912f; /* Трохи темніший зелений */
}

/* Таблиця з продуктами */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #34b23b;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #222;
    color: #34b23b;
}

/* Стилі для футера */
footer {
    margin-top: auto; /* Це змушує футер бути внизу */
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%; /* Футер займає всю ширину */
}

footer a {
    color: #34b23b;
}

footer a:hover {
    text-decoration: underline;
}

/* Форматування для списків категорій */
ul {
    list-style-type: none;
}

ul li {
    background-color: #333;
    color: #fff;
    margin: 5px 0;
    padding: 8px;
    border-radius: 4px;
}

ul li:hover {
    background-color: #34b23b;
    cursor: pointer;
}

/* Мобільна адаптивність */
@media (max-width: 768px) {
    .icon-link {
        font-size: 20px;
    }

    table, th, td {
        font-size: 14px;
    }

    button {
        width: 100%;
        padding: 12px;
    }
}
